version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - backend/.env

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    env_file:
      - frontend/.env
    depends_on:
      - backend
